@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<p>
    On each of the tabs above you will find the details for each of the excercises. This isn't meant to be some tricky test, there are no gotchas
    or even any specific answers to the problems. I simply hope to use this to get an idea of how you approach a problem. Feel free to do anything you
    want with this (frameworks, UI, etc) and make the implementations any way you see fit. Code behind, Razor, JavaScript, whatever you want.
</p>
<p>
    To run this application you will need to have the <a href="https://dotnet.microsoft.com/download" target="_blank">.NET Core 2.2 SDK</a> installed on your machine.
    You can use any editor you feel confortable with as long as it supports .NET Core 2.2. Here are the two that are free that I know you can use:
    <ul>
        <li><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a></li>
        <li><a href="https://visualstudio.microsoft.com/vs/community/" target="_blank">Visual Studio Community 2017</a></li>
    </ul>
     If you need help getting started with .NET Core, you can see some walk throughs at <a href="https://docs.microsoft.com/en-us/dotnet/core/get-started" target="_blank">https://docs.microsoft.com/en-us/dotnet/core/get-started</a>
</p>
<p>
    Feel free to reach out to me if you have any questions.
    Good luck and have fun!
</p>